<!-- newsletter -->
<div class="footer-top">
  <div class="container-fluid">
    <div class="col-xs-8 agile-leftmk">
      <h2>Subscribe to our newsletter</h2>
      <p> </p>
      <form action="#" method="post">
        <input type="email" placeholder="E-mail" name="email" required="">
        <input type="submit" value="Subscribe">
      </form>
      <div class="newsform-w3l">
        <span class="fa fa-envelope-o" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-xs-4 w3l-rightmk">
      <img src="images/tab3.png" alt=" ">
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //newsletter -->
<!-- footer -->
<footer>
  <div class="container">
    <!-- footer first section -->
    <p class="footer-main">
      <span>"ShareLeh"</span> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
      magni dolores eos qui ratione voluptatem sequi nesciunt.Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
      beatae vitae dicta sunt explicabo.</p>
    <!-- //footer first section -->
    <!-- footer second section -->
    <div class="w3l-grids-footer">
      <div class="col-xs-4 offer-footer">
        <div class="col-xs-4 icon-fot">
          <span class="fa fa-map-marker" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 text-form-footer">
          <h3>Track Your Item</h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-xs-4 offer-footer">
        <div class="col-xs-4 icon-fot">
          <span class="fa fa-refresh" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 text-form-footer">
          <h3>Free & Easy Sharing</h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-xs-4 offer-footer">
        <div class="col-xs-4 icon-fot">
          <span class="fa fa-times" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 text-form-footer">
          <h3>Online Cancellation</h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- //footer second section -->
    <!-- footer third section -->
    <div class="footer-info w3-agileits-info">
      <!-- footer categories -->
      <div class="col-sm-5 address-right">
        <div class="col-xs-6 footer-grids">
          <h3>Categories</h3>
          <ul>
            <li>
              <a href="index?category=books">Books</a>
            </li>
            <li>
              <a href="index?category=clothings">Clothings</a>
            </li>
            <li>
              <a href="index?category=electronics">Electronics</a>
            </li>
            <li>
              <a href="index?category=food">Food & Beverages</a>
            </li>
            <li>
              <a href="index?category=furniture">Furniture</a>
            </li>
            <li>
              <a href="index?category=kitchenware">Kitchenware</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 footer-grids agile-secomk">
          <ul>
            <li>
              <a href="index?category=party">Party Sets</a>
            </li>
            <li>
              <a href="index?category=tools">Tools</a>
            </li>
            <li>
              <a href="index?category=games">Video Games</a>
            </li>
            <li>
              <a href="index?category=vehicles">Vehicles</a>
            </li>
            <li>
              <a href="index?category=vouchers">Vouchers</a>
            </li>
            <li>
              <a href="index?category=others">Others</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- //footer categories -->
      <!-- quick links -->
      <div class="col-sm-5 address-right">
        <div class="col-xs-6 footer-grids">
          <h3>Quick Links</h3>
          <ul>
            <li>
              <a href="about">About Us</a>
            </li>
            <li>
              <a href="contact">Contact Us</a>
            </li>
            <li>
              <a href="help">Help</a>
            </li>
            <li>
              <a href="faqs">FAQs</a>
            </li>
            <li>
              <a href="terms">Terms of use</a>
            </li>
            <li>
              <a href="privacy">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 footer-grids">
          <h3>Get in Touch</h3>
          <ul>
            <li>
              <i class="fa fa-map-marker"></i> 123 Street, Singapore.</li>
            <li>
              <i class="fa fa-mobile"></i> +65 8899 7788 </li>
            <li>
              <i class="fa fa-phone"></i> +65 6789 1234 </li>
            <li>
              <i class="fa fa-envelope-o"></i>
              <a href="mailto:example@mail.com"> contact@shareleh.com</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- //quick links -->
      <!-- social icons -->
      <div class="col-sm-2 footer-grids  w3l-socialmk">
        <h3>Follow Us on</h3>
        <div class="social">
          <ul>
            <li>
              <a class="icon fb" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="icon tw" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="icon gp" href="#">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="agileits_app-devices">
          <h5>Download the App</h5>
          <a href="#">
            <img src="images/1.png" alt="">
          </a>
          <a href="#">
            <img src="images/2.png" alt="">
          </a>
          <div class="clearfix"> </div>
        </div>
      </div>
      <!-- //social icons -->
      <div class="clearfix"></div>
    </div>
    <!-- //footer third section -->
    <!-- footer fourth section (text) -->
      <!-- payment -->
      <div class="sub-some child-momu">
        <h5>Payment Method</h5>
        <ul>
          <li>
            <img src="images/pay2.png" alt="">
          </li>
          <li>
            <img src="images/pay5.png" alt="">
          </li>
          <li>
            <img src="images/pay1.png" alt="">
          </li>
          <li>
            <img src="images/pay4.png" alt="">
          </li>
          <li>
            <img src="images/pay6.png" alt="">
          </li>
          <li>
            <img src="images/pay3.png" alt="">
          </li>
          <li>
            <img src="images/pay7.png" alt="">
          </li>
          <li>
            <img src="images/pay8.png" alt="">
          </li>
          <li>
            <img src="images/pay9.png" alt="">
          </li>
        </ul>
      </div>
      <!-- //payment -->
    </div>
    <!-- //footer fourth section (text) -->
  </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copy-right">
  <div class="container">
    <p>© 2017 Grocery Shoppy. All rights reserved | Design by
      <a href="http://w3layouts.com"> W3layouts.</a>
    </p>
  </div>
</div>
<!-- //copyright -->
