<!-- top-header -->
<!-- <div class="header&#45;most&#45;top"> -->
<!--   <p>ShareLeh Offer Zone Top Deals &#38; Discounts</p> -->
<!-- </div> -->
<!-- //top-header -->
<!-- header-bot-->
<div class="header-bot">
  <div class="header-bot_inner_wthreeinfo_header_mid">
    <!-- header-bot-->
    <div class="col-md-4 logo_agile">
      <h1>
        <a href="index">
          <span>S</span>hare
          <span>L</span>eh
          <img src="images/logo2.png" alt=" ">
        </a>
      </h1>
    </div>
    <!-- header-bot -->
    <div class="col-md-8 header">
      <!-- header lists -->
      <ul>
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span><a href="secret">Make a query</a>
        </li>
        <!-- <li> -->
        <!--   <a class="play&#45;icon popup&#45;with&#45;zoom&#45;anim" href="#small&#45;dialog1"> -->
        <!--     <span class="fa fa&#45;map&#45;marker" aria&#45;hidden="true"></span>Select Your Region</a> -->
        <!-- </li> -->
        <!-- <li> -->
        <!--   <a href="#" data&#45;toggle="modal" data&#45;target="#myModal1"> -->
        <!--     <span class="fa fa&#45;truck" aria&#45;hidden="true"></span>Track Order</a> -->
        <!-- </li> -->
        <!-- <li> -->
        <!--   <span class="fa fa&#45;phone" aria&#45;hidden="true"></span> +65 6789 1234 -->
        <!-- </li> -->
        <% if (!signedin) { %>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal1">
            <span class="fa fa-unlock-alt" aria-hidden="true"></span> Sign In </a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal2">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up </a>
        </li>
        <% } else { %>
        <li>
          <span class="fa fa-truck" aria-hidden="true"></span><a href="/signout">Sign Out</a>
        </li>
        <li>
          Welcome, user
        </li>
        <% } %>
      </ul>
      <!-- //header lists -->
      <!-- search -->
      <div class="agileits_search">
        <form action="#" method="post">
          <input name="Search" type="search" placeholder="How can we help you today?" required="">
          <button type="submit" class="btn btn-default" aria-label="Left Align">
            <span class="fa fa-search" aria-hidden="true"> </span>
          </button>
        </form>
      </div>
      <!-- //search -->
      <!-- cart details -->
      <div class="top_nav_right">
      <!-- what to do -->
      </div>
      <!-- //cart details -->
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- signin Model -->
<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body modal-body-sub_agile">
        <div class="main-mailposi">
          <span class="fa fa-envelope-o" aria-hidden="true"></span>
        </div>
        <div class="modal_body_left modal_body_left1">
          <h3 class="agileinfo_sign">Sign In </h3>
          <p>
            Sign In now, Let's start your Shareleh journey. Don't have an account?
            <a href="#" data-toggle="modal" data-target="#myModal2">
              Sign Up Now</a>
          </p>
          <form action="/zzsignin" method="post">
            <div class="styled-input agile-styled-input-top">
              <input type="text" placeholder="User Name" name="username" autocomplete="off" required>
            </div>
            <div class="styled-input">
              <input type="password" placeholder="Password" name="password" autocomplete="off" required>
            </div>
            <input type="submit" value="Sign In">
          </form>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- //Modal content-->
  </div>
</div>
<!-- //Modal1 -->
<!-- //signin Model -->
<!-- signup Model -->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body modal-body-sub_agile">
        <div class="main-mailposi">
          <span class="fa fa-envelope-o" aria-hidden="true"></span>
        </div>
        <div class="modal_body_left modal_body_left1">
          <h3 class="agileinfo_sign">Sign Up</h3>
          <p>
            Come join ShareLeh! Let's set up your Account.
          </p>
          <form action="/zzsignup" method="post">
            <div class="styled-input agile-styled-input-top">
              <input type="text" placeholder="User Name" name="username" autocomplete="off" required>
            </div>
            <!-- <div class="styled&#45;input"> -->
            <!--   <input type="email" placeholder="E&#45;mail" name="Email" required=""> -->
            <!-- </div> -->
            <div class="styled-input">
              <input type="password" placeholder="Password" name="password" id="password1" autocomplete="off" required>
            </div>
            <div class="styled&#45;input">
              <input type="password" placeholder="Confirm Password" name="Confirm Password" id="password2" required="">
            </div>
            <input type="submit" value="Sign Up">
          </form>
          <p>
            <a href="#">By clicking sign up, I agree to your terms</a>
          </p>
        </div>
      </div>
    </div>
    <!-- //Modal content-->
  </div>
</div>
<!-- //Modal2 -->
<!-- //signup Model -->
<!-- //header-bot -->
<!-- navigation -->
<div class="ban-top">
  <div class="container">
    <div class="top_nav_left">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menu__list">
              <li class="">
                <a class="nav-stylehead" href="index">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="">
                <a class="nav-stylehead" href="about">About Us</a>
              </li>
              <li class="">
                <a class="nav-stylehead" href="faqs">FAQS</a>
              </li>
              <li class="">
                <a class="nav-stylehead" href="contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- //navigation -->
