<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
        .container {
            height: 200px;
            vertical-align: middle;
            font-family: Helvetica;
            margin-top: 80px;
            margin-left: 65px;
        }
        body {
            background-color: rgb(78, 75, 75);
        }
        p {
          color: rgb(255, 255, 255);
          text-align: center;
        }
        h1 {
          color: rgb(255, 255, 255);
          text-align: center;
        }
        #textboxid {
          height: 300px;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <h1 class='text-center'>Welcome to Shareleh!</h1>
                <p class='text-center'>Please enter your SQL query below.</p>
                <form action="/secret/query" method="post" class="form-group">
                  <textarea id="textboxid" name="text" class="form-control"></textarea>
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
                </form>
        </div>
    </body>
</html>
