<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
        .container {
            height: 200px;
            vertical-align: middle;
            font-family: Helvetica Neue;
            margin-top: 160px;
            margin-left: 65px;
        }
        body {
            background-color: #272727;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <h1 class='text-center'>Welcome!</h1>
                <p class='text-center'>Please enter your SQL query below.</p>
                    <div class="form-group">
                        <textarea class="form-control"></textarea>
                        <button type="button" color = "green" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
        </div>
    </body>
</html>