<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1><i>Hello Shareleh!</i></h1>
  <p><b>Routes</b></p>
  <p>
    localhost:<%= expressport %>/testdb
    <br>
    test your database connection with postgresql
  </p>
  <p>
  localhost:<%= expressport %>/table/:tname
  <br>
  SELECT * FROM :tname
  </p>
  <p><b>Sample Queries</b></p>
  <p>select * from users where name = 'john'</p>
  <p>INSERT INTO users VALUES (DEFAULT, 'john')</p>
  <br>
  <form action="http://localhost:<%= expressport %>/secret/query" method="post">
  <textarea name="text" rows="4" cols="50">
  </textarea>
  <p><input type="submit" value="Submit"></p>
  </form>
</body>
</html>
