<DOCTYPE html>
    <html lang="zxx">

    <head>
        <title>User Summary</title>
    </head>

    <body>
        <h1>Uploaded Items</h1>
        <h1>Bidded Items</h1>
        <h1>Borrowed Items</h1>
    </body>
</html>